################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Prog_lab10_cpp/Prog_lab10_cpp.vcxproj.user
/Prog_lab10_cpp/Prog_lab10_cpp.vcxproj.filters
/Prog_lab10_cpp/Prog_lab10_cpp.vcxproj
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/Browse.VC.opendb
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/Browse.VC.db-wal
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/Browse.VC.db-shm
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/Browse.VC.db
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/ipch/AutoPCH/f8273f22743df1c4/STUDENT.ipch
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/ipch/AutoPCH/d91f7d7e068b56bd/FIO.ipch
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/ipch/AutoPCH/c7ee104054f6536/MAIN.ipch
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/ipch/AutoPCH/7e2048d03436b00b/FACULTY.ipch
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/ipch/AutoPCH/5a558765384e2d39/TEACHER.ipch
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/ipch/AutoPCH/1db3cf62c547152a/HUMAN.ipch
/Prog_lab10_cpp/.vs/Prog_lab10_cpp/v16/.suo
/Prog_lab10_cpp/Debug/vc142.pdb
/Prog_lab10_cpp/Debug/vc142.idb
/Prog_lab10_cpp/Debug/Teacher.obj
/Prog_lab10_cpp/Debug/Student.obj
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.vcxproj.FileListAbsolute.txt
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.tlog/Prog_lab10_cpp.lastbuildstate
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.tlog/link.write.1.tlog
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.tlog/link.read.1.tlog
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.tlog/link.command.1.tlog
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.tlog/CL.write.1.tlog
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.tlog/CL.read.1.tlog
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.tlog/CL.command.1.tlog
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.pdb
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.log
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.ilk
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.exe.recipe
/Prog_lab10_cpp/Debug/Prog_lab10_cpp.exe
/Prog_lab10_cpp/Debug/main.obj
/Prog_lab10_cpp/Debug/Human.obj
/Prog_lab10_cpp/Debug/Fio.obj
/Prog_lab10_cpp/Debug/Faculty.obj
/Prog_lab10_csharp/obj/Debug/Prog_lab10_csharp.csproj.AssemblyReference.cache
/Prog_lab10_csharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Prog_lab10_csharp/App.config
/Prog_lab10_csharp/.vs/Prog_lab10_csharp/v16/.suo
/Prog_lab10_csharp/Prog_lab10_csharp.csproj
/Prog_lab10_csharp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Prog_lab10_csharp/.vs/Prog_lab10_csharp/v16/ipch/AutoPCH/f184522fed039f83/MAIN.ipch
/Prog_lab10_csharp/.vs/Prog_lab10_csharp/v16/ipch/AutoPCH/48dc234d72a6cde8/FACULTY.ipch
/Prog_lab10_csharp/.vs/Prog_lab10_csharp/v16/Browse.VC.opendb
/Prog_lab10_csharp/.vs/Prog_lab10_csharp/v16/Browse.VC.db-wal
/Prog_lab10_csharp/.vs/Prog_lab10_csharp/v16/Browse.VC.db-shm
/Prog_lab10_csharp/.vs/Prog_lab10_csharp/v16/Browse.VC.db
/Prog_lab10_csharp/obj/Debug/Prog_lab10_csharp.pdb
/Prog_lab10_csharp/obj/Debug/Prog_lab10_csharp.exe
/Prog_lab10_csharp/obj/Debug/Prog_lab10_csharp.csproj.FileListAbsolute.txt
/Prog_lab10_csharp/obj/Debug/Prog_lab10_csharp.csproj.CoreCompileInputs.cache
/Prog_lab10_csharp/bin/Debug/Prog_lab10_csharp.pdb
/Prog_lab10_csharp/bin/Debug/Prog_lab10_csharp.exe.config
/Prog_lab10_csharp/bin/Debug/Prog_lab10_csharp.exe
